{% extends 'news/index.html' %}
{% load custom_filters %}
{% block content_table %}
    <thead>
        <tr>
            <th>#</th>
            <th>Заголовок</th>
            <th>Дата публикации</th>
            <th>Текст</th>
        </tr>
    </thead>
    <tbody>
        {% for post in post_list %}
        <tr>
            <th scope="row">{{ post.pk }}</th>
            <td>{{ post.postTitle }}</td>
            <td>{{ post.dateCreation|date:'d F Y H:i' }}</td>
            <td>{{ post.postText|truncatechars:30|censor }}</td>
        </tr>
        {% empty %}
            <h1 align="center">Нет Товаров</h1>
        {% endfor %}
    </tbody>
{% endblock content_table %}